<article class="flex flex-col gap-3">
    <div class="flex justify-between gap-2">
        <div class="flex flex-col gap-1 w-1/2">
            <label for="">Nombre</label>
            <input
                id="nombre"
                pInputText
                [(ngModel)]="newServidor.nombre"
                type="text"
                placeholder="Nombre del servidor"
                class="p-2 border border-gray-300 rounded-lg {{
                    newServidor.nombre.length === 0 ? 'border-red-500' : ''
                }}"
            />
            <small class="text-red-500" *ngIf="newServidor.nombre.length === 0">
                El nombre es requerido
            </small>
        </div>
        <div class="flex flex-col gap-1 w-1/2">
            <label for="">Dominio</label>
            <input
                id="dominio"
                pInputText
                [(ngModel)]="newServidor.dominio"
                type="text"
                placeholder="Dominio del servidor"
                class="p-2 border border-gray-300 rounded-lg {{
                    newServidor.dominio.length === 0 ? 'border-red-500' : ''
                }}"
            />
            <small
                class="text-red-500"
                *ngIf="newServidor.dominio.length === 0"
            >
                El dominio es requerido
            </small>
        </div>
    </div>
    <div class="flex flex-col gap-1">
        <label for="">Descripción</label>
        <textarea
            pInputText
            id="descripcion"
            [(ngModel)]="newServidor.descripcion"
            type="text"
            placeholder="Descripción del servidor"
            class="p-2 border border-gray-300 rounded-lg {{
                newServidor.descripcion.length === 0 ? 'border-red-500' : ''
            }}"
        ></textarea>
        <small
            class="text-red-500"
            *ngIf="newServidor.descripcion.length === 0"
        >
            La descripción es requerida
        </small>
    </div>
    <div class="flex flex-col gap-1">
        <label for="">Ciudad</label>
        <p-dropdown
            appendTo="body"
            id="ciudad"
            [options]="ciudades"
            [(ngModel)]="newServidor.idCiudad"
            styleClass="w-full border border-gray-300 rounded-lg {{
                newServidor.idCiudad === 0 ? 'border-red-500' : ''
            }}"
            placeholder="Seleccionar Ciudad"
            optionLabel="descripcion"
            optionValue="id"
        ></p-dropdown>
        @if (newServidor.idCiudad === 0) {
        <small class="text-red-500">La ciudad es requerida</small>
        }
    </div>
    <div class="flex flex-col gap-1">
        <label for="">Ambiente</label>
        <p-dropdown
            id="ambiente"
            appendTo="body"
            [options]="ambientes"
            [(ngModel)]="newServidor.idAmbiente"
            styleClass="w-full border border-gray-300 rounded-lg {{
                newServidor.idAmbiente === 0 ? 'border-red-500' : ''
            }}"
            placeholder="Seleccionar Ambiente"
            optionLabel="descripcion"
            optionValue="id"
        ></p-dropdown>
        @if (newServidor.idAmbiente === 0) {
        <small class="text-red-500">El ambiente es requerido</small>
        }
    </div>
    <div class="flex flex-col gap-1">
        <label for="">Tipo de servidor</label>
        <p-dropdown
            id="tipo"
            appendTo="body"
            [options]="tipos"
            [(ngModel)]="newServidor.idTipo"
            styleClass="w-full border border-gray-300 rounded-lg {{
                newServidor.idTipo === 0 ? 'border-red-500' : ''
            }}"
            placeholder="Seleccionar Tipo de Servidor"
            optionLabel="descripcion"
            optionValue="id"
        ></p-dropdown>
        @if (newServidor.idTipo === 0) {
        <small class="text-red-500">El tipo de servidor es requerido</small>
        }
    </div>
    <div class="flex flex-col gap-1">
        <label for="">Sistema Operativo</label>
        <p-dropdown
            id="so"
            appendTo="body"
            [options]="sistemasOperativos"
            [(ngModel)]="newServidor.idSistemaOperativo"
            styleClass="w-full border border-gray-300 rounded-lg {{
                newServidor.idSistemaOperativo === 0 ? 'border-red-500' : ''
            }}"
            placeholder="Seleccionar SO"
            optionLabel="descripcion"
            optionValue="id"
        ></p-dropdown>
        @if (newServidor.idSistemaOperativo === 0) {
        <small class="text-red-500">El sistema operativo es requerido</small>
        }
    </div>
    <div class="flex flex-col gap-1">
        <label for="">¿Requiere perfil?</label>
        <p-inputSwitch [(ngModel)]="newServidor.requierePerfil"></p-inputSwitch>
    </div>
    <!-- Texto de Valicación -->
    @if (!newServidor.nombre || !newServidor.dominio || !newServidor.descripcion
    || !newServidor.idCiudad || !newServidor.idAmbiente || !newServidor.idTipo
    || !newServidor.idSistemaOperativo) {
    <small class="text-red-500"> Todos los campos son requeridos </small>
    }
    <!-- Botones de Agregar -->
    <div class="flex justify-end gap-2">
        <button
            (click)="close()"
            pButton
            label="Cancelar"
            class="bg-gray-300 p-2 text-black rounded-lg"
        ></button>
        @if (data) {
        <button
            (click)="updateServidor()"
            pButton
            label="Actualizar"
            class="bg-primary-500 p-2 text-white rounded-lg"
        ></button>
        } @else {

        <button
            (click)="createServidor()"
            pButton
            label="Agregar"
            class="bg-primary-500 p-2 text-white rounded-lg"
        ></button>
        }
    </div>
</article>
