<p-confirmDialog />

<app-layout>
    <section class="px-4 flex flex-col gap-4">
        <header class="flex justify-between">
            <h1 class="text-2xl font-semibold">Bases de Datos</h1>
            @if (usuarioActual?.idRol === 1) {
            <button
                (click)="openCreateBaseDeDatosDialog()"
                pButton
                class="bg-primary-500 p-2 text-white rounded-lg"
            >
                Nueva base de datos
            </button>
            }
        </header>
        <main class="flex flex-col gap-3">
            @for (item of listaBasesDeDatos; track $index) {
            <article>
                <h1 class="bg-primary-400 rounded-md p-2 text-white mb-4">
                    {{ item.servidor.nombre }}
                </h1>
                <div class="pl-5 flex flex-col gap-4">
                    @for (db of item.basesDeDatos; track $index) {
                    <article
                        [id]="'servidor-' + db.nombre"
                        class="hover:bg-gray-200 transition-colors duration-150 ease-in-out p-3"
                    >
                        <span class="flex gap-2">
                            <span class="flex flex-col w-2/12">
                                <span class="text-sm text-gray-500">
                                    Nombre
                                </span>
                                <span class="text-lg font-semibold">{{
                                    db.nombre
                                }}</span>
                            </span>
                            <span class="flex flex-col w-2/12">
                                <span class="text-sm text-gray-500">
                                    Motor de base de Datos
                                </span>
                                <span class="text-lg font-semibold">{{
                                    getMotorById(db.idMotor)?.descripcion
                                }}</span>
                            </span>
                            <span class="flex flex-col w-2/12">
                                <span class="text-sm text-gray-500">
                                    Descripción
                                </span>
                                <span class="text-lg font-semibold">{{
                                    db.descripcion
                                }}</span>
                            </span>
                            <span class="flex flex-col w-2/12">
                                <span class="text-sm text-gray-500">
                                    Ambiente
                                </span>
                                <span class="text-lg font-semibold">{{
                                    getAmbienteById(db.idAmbiente)?.descripcion
                                }}</span>
                            </span>
                            <span class="flex flex-col w-2/12">
                                <span class="text-sm text-gray-500">
                                    Collation
                                </span>
                                <span class="text-lg font-semibold">{{
                                    db.collation
                                }}</span>
                            </span>
                            <span class="flex gap-4 w-2/12">
                                @if (usuarioActual?.idRol === 1) {
                                <button
                                    (click)="deleteBaseDeDatos(db)"
                                    pButton
                                    class="bg-red-500 p-2 text-white rounded-lg"
                                >
                                    Eliminar
                                </button>
                                <button
                                    (click)="openUpdateBaseDeDatosDialog(db)"
                                    pButton
                                    class="bg-orange-500 p-2 text-white rounded-lg"
                                >
                                    Editar
                                </button>
                                }
                                <button
                                    (click)="openDialogMantenimientos(db)"
                                    pButton
                                    class="bg-purple-500 p-2 text-white rounded-lg"
                                >
                                    Mantenimiento
                                </button>
                            </span>
                        </span>
                    </article>
                    }
                </div>
            </article>
            }
        </main>
    </section>
</app-layout>
