<header class="flex justify-between gap-2">
    <h1 class="text-2xl font-semibold"></h1>
    <button
        (click)="openDialogCreateMantenimiento()"
        pButton
        class="bg-primary-500 p-2 text-white rounded-lg"
    >
        Nuevo mantenimiento
    </button>
</header>
<div class="flex flex-wrap justify-start mt-4 gap-2 box-border w-full">
    @for (mantenimiento of manteniemientosByServidor; track $index) {
    <article
        [id]="'mantenimiento-' + mantenimiento.descripcion"
        class="flex flex-col gap-2 bg-gray-200 p-1 rounded-md box-border w-[30%]"
    >
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Razón</span>
            <span
                class="text-lg font-semibold flex-wrap"
                style="overflow-wrap: anywhere"
                >{{ getRazonById(mantenimiento.idRazon)?.descripcion }}</span
            >
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Base de datos</span>
            <span class="text-lg font-semibold">{{
                getBaseDeDatosById(mantenimiento.idBaseDeDatos)?.nombre
            }}</span>
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Servidor</span>
            <span class="text-lg font-semibold">{{
                getServidorById(mantenimiento.idServidor)?.nombre
            }}</span>
        </div>
        <div class="flex flex-col flex-wrap gap-1 w-full">
            <span class="text-sm text-gray-500">Descripción</span>
            <p
                class="text-lg font-semibold w-full text-ellipsis"
                style="overflow-wrap: anywhere"
            >
                {{ mantenimiento.descripcion }}
            </p>
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Fecha de inicio</span>
            <span class="text-lg font-semibold">{{
                mantenimiento.fechaInicio | date : "dd/MM/yyyy"
            }}</span>
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Fecha de fin</span>
            <span class="text-lg font-semibold">{{
                mantenimiento.fechaFin | date : "dd/MM/yyyy"
            }}</span>
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Usuario</span>
            <span class="text-lg font-semibold">{{
                getUsuarioById(mantenimiento.idUsuario)?.nombreCompleto
            }}</span>
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-sm text-gray-500">Estado</span>
            <span class="text-lg font-semibold">{{
                getEstadoMantenimientoById(mantenimiento.idEstado)?.descripcion
            }}</span>
        </div>
        <div class="flex gap-4">
            <button
                (click)="openDialogUpdateMantenimiento(mantenimiento)"
                pButton
                class="bg-primary-500 p-2 text-white rounded-lg"
            >
                Editar
            </button>
            <button
                (click)="deleteMantenimiento(mantenimiento.id)"
                pButton
                class="bg-red-500 p-2 text-white rounded-lg"
            >
                Eliminar
            </button>
        </div>
    </article>
    }
</div>
