<app-layout>
    <section class="px-4 flex flex-col gap-4">
        <header class="flex justify-between gap-2">
            <span class="flex flex-col gap-2">
                <h2 class="text-xl font-bold">
                    Mantenimientos para el año:
                    {{ fechaSeleccionada | date : "yyyy" }}
                </h2>
                <small>
                    Selecciona un año para ver los mantenimientos realizados
                </small>
            </span>
            <span class="flex flex-col gap-2">
                <p-calendar
                    [(ngModel)]="fechaSeleccionada"
                    (ngModelChange)="filterMantenimientos()"
                    appendTo="body"
                    styleClass="bg-gray-200"
                    inputStyleClass="border border-gray-400 rounded-md p-2"
                    dateFormat="yy"
                    view="year"
                ></p-calendar>
                <p-multiSelect
                    [options]="estadosMantenimiento"
                    [(ngModel)]="estadosSeleccionados"
                    (ngModelChange)="filterMantenimientos()"
                    placeholder="Filtrar por Estado"
                    optionLabel="descripcion"
                    appendTo="body"
                    styleClass="bg-gray-200 w-full"
                    inputStyleClass="border border-gray-200 rounded-md p-2"
                    selectedItemsLabel="{0} estados seleccionados"
                    emptyFilterMessage="No hay estados disponibles"
                    emptyMessage="No hay estados disponibles"
                ></p-multiSelect>
            </span>
        </header>
        @if (listaServidores.length) {
        <h1 class="text-2xl font-bold">Mantenimientos para Servidores</h1>
        } @for (item of listaServidores; track $index) {
        <article>
            <h1 class="bg-primary-400 rounded-md p-2 text-white mb-4">
                {{ item.servidor.nombre }}
            </h1>
            <div class="pl-5 flex flex-col gap-4">
                @for (mantenimiento of item.mantenimientos; track $index) {
                <article
                    [id]="'mantenimiento-' + mantenimiento.id"
                    class="hover:bg-gray-200 transition-colors duration-150 ease-in-out p-1 flex justify-between gap-1 text-xs xl:text-base"
                >
                    <span class="flex flex-wrap justify-between flex-auto">
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Razón
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                getRazonById(mantenimiento.idRazon)?.descripcion
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Servidor
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                getServidorById(mantenimiento.idServidor)
                                    ?.nombre
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Fecha y Hora de inicio
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                mantenimiento.fechaInicio
                                    | date : "dd/MM/yyyy HH:mm a"
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Fecha y Hora de fin
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                mantenimiento.fechaFin
                                    | date : "dd/MM/yyyy HH:mm a"
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Usuario
                            </span>
                            <span class="text-md xl:text-md font-semibold">
                                {{
                                    getUsuarioById(mantenimiento.idUsuario)
                                        ?.nombreCompleto
                                }}
                            </span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Estado
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                getEstadoMantenimientoById(
                                    mantenimiento.idEstado
                                )?.descripcion
                            }}</span>
                        </span>
                    </span>
                    <span class="flex flex-col">
                        <button
                            pButton
                            (click)="
                                mantenimientoSeleccionado = mantenimiento;
                                panelVerDetalle.toggle($event)
                            "
                            class="bg-primary-500 text-white font-semibold flex justify-center items-center cursor-pointer p-2"
                        >
                            Más detalles
                        </button>
                    </span>
                </article>
                <hr />
                } @empty {
                <article class="bg-gray-200 p-4 text-center text-xs xl:text-md">
                    No hay mantenimientos registrados
                </article>
                }
            </div>
        </article>
        } @if ( listaBasesDeDatos.length ) {
        <h1 class="text-2xl font-bold">Mantenimientos para Bases de Datos</h1>
        } @for (item of listaBasesDeDatos; track $index) {
        <article>
            <h1 class="bg-primary-400 rounded-md p-2 text-white mb-4">
                {{ item.baseDeDatos.nombre }}
            </h1>
            <div class="pl-5 flex flex-col gap-4">
                @for (mantenimiento of item.mantenimientos; track $index) {
                <article
                    [id]="'mantenimiento-' + mantenimiento.id"
                    class="hover:bg-gray-200 transition-colors duration-150 ease-in-out p-3 flex justify-between gap-1 text-xs xl:text-base"
                >
                    <span class="flex flex-wrap justify-between flex-auto">
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Razón
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                getRazonById(mantenimiento.idRazon)?.descripcion
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Base de datos
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                getBaseDeDatosById(mantenimiento.idBaseDeDatos)
                                    ?.nombre
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Fecha y Hora de inicio
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                mantenimiento.fechaInicio | date : "dd/MM/yyyy HH:mm a"
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500">
                                Fecha y Hora de fin
                            </span>
                            <span class="text-md xl:text-md font-semibold">{{
                                mantenimiento.fechaFin | date : "dd/MM/yyyy HH:mm a"
                            }}</span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-xs xl:text-sm text-gray-500"
                                >Usuario</span
                            >
                            <span class="text-md xl:text-md font-semibold">
                                {{
                                    getUsuarioById(mantenimiento.idUsuario)
                                        ?.nombreCompleto
                                }}
                            </span>
                        </span>
                        <span class="flex flex-col w-1/6 p-1">
                            <span class="text-sm text-gray-500">Estado</span>
                            <span class="text-md xl:text-md font-semibold">{{
                                getEstadoMantenimientoById(
                                    mantenimiento.idEstado
                                )?.descripcion
                            }}</span>
                        </span>
                    </span>
                    <span class="flex flex-col">
                        <button
                            pButton
                            (click)="
                                mantenimientoSeleccionado = mantenimiento;
                                panelVerDetalle.toggle($event)
                            "
                            class="bg-primary-500 text-white font-semibold flex justify-center items-center cursor-pointer p-2"
                        >
                            Más detalles
                        </button>
                    </span>
                </article>
                <hr />
                } @empty {
                <article class="bg-gray-200 p-4 text-center text-xs xl:text-md">
                    No hay mantenimientos registrados
                </article>
                }
            </div>
        </article>
        }
    </section>
</app-layout>

<p-overlayPanel #panelVerDetalle>
    <main class="flex flex-col gap-2 max-w-64">
        <div class="flex flex-col gap-1">
            <label for="" class="font-semibold">Descripción</label>
            <span style="word-wrap: break-word; overflow-wrap: break-word">
                {{ mantenimientoSeleccionado?.descripcion }}
            </span>
        </div>
        <div class="flex flex-col gap-1">
            <label for="" class="font-semibold">Plan en caso de fallos</label>
            <span style="word-wrap: break-word; overflow-wrap: break-word">
                {{ mantenimientoSeleccionado?.planB }}
            </span>
        </div>

        @if (mantenimientoSeleccionado?.idBaseDeDatos) {
        <div class="flex flex-col gap-1">
            <label for="" class="font-semibold">Ambiente</label>
            <span style="word-wrap: break-word; overflow-wrap: break-word">
                {{
                    getAmbienteByBaseDeDatosId(
                        mantenimientoSeleccionado?.idBaseDeDatos
                    )?.descripcion
                }}
            </span>
        </div>

        <div class="flex flex-col gap-1">
            <label for="" class="font-semibold">Servidor</label>
            <span style="word-wrap: break-word; overflow-wrap: break-word">
                {{
                    getServidorByBaseDeDatosId(
                        mantenimientoSeleccionado?.idBaseDeDatos
                    )?.nombre
                }}
            </span>
        </div>
        }
        <div class="flex flex-col gap-1">
            <label for="" class="font-semibold">Es automatico</label>
            <span style="word-wrap: break-word; overflow-wrap: break-word">
                {{ mantenimientoSeleccionado?.automatica ? "Sí" : "No" }}
            </span>
        </div>
        <div class="flex flex-col gap-1">
            <label for="" class="font-semibold">Requiere Perfil</label>
            <span style="word-wrap: break-word; overflow-wrap: break-word">
                {{ mantenimientoSeleccionado?.requierePerfil ? "Sí" : "No" }}
            </span>
        </div>
        <button
            (click)="openModalMantenimiento(mantenimientoSeleccionado)"
            pButton
            class="bg-primary-500 p-1 text-sm flex justify-center items-center text-white"
        >
            Editar
        </button>
    </main>
</p-overlayPanel>
