<app-layout>
    <main class="flex gap-4 justify-between px-4">
        <section class="bg-blue-300 flex-auto">Zona de reportería</section>

        <section class="flex flex-col gap-3 w-1/4 items-center">
            <strong class="text-center">
                Te damos la bienvenida al Mantenimiento de Servidores
            </strong>
            <small>
                En esta aplicación podrás llevar un control de los
                mantenimientos realizados a los servidores de Banco de
                Occidente.
            </small>
            <small class="text-center">
                Para comenzar, selecciona una de las opciones
            </small>
            <div class="flex flex-col flex-wrap justify-center gap-3">
                <button
                    class="p-2 border rounded-full flex items-center justify-center text-white bg-primary-500 hover:bg-white hover:text-primary-500 hover:border-primary-500 transition-colors duration-300 ease-in-out"
                >
                    <a [routerLink]="'/' + routes.SERVIDORES">Servidores</a>
                </button>
                <button
                    class="p-2 border rounded-full flex items-center justify-center text-white bg-primary-500 hover:bg-white hover:text-primary-500 hover:border-primary-500 transition-colors duration-300 ease-in-out"
                >
                    <a
                        [routerLink]="
                            '/' + routes.SERVIDORES + '/bases-de-datos'
                        "
                    >
                        Bases de Datos
                    </a>
                </button>
                <button
                    class="p-2 border rounded-full flex items-center justify-center text-white bg-primary-500 hover:bg-white hover:text-primary-500 hover:border-primary-500 transition-colors duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
                >
                    <a [routerLink]="'/' + routes.USUARIOS"
                        >Usuarios de Sistema</a
                    >
                </button>
                <button
                    class="p-2 border rounded-full flex items-center justify-center text-white bg-primary-500 hover:bg-white hover:text-primary-500 hover:border-primary-500 transition-colors duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
                >
                    <a [routerLink]="'/' + routes.CRUDS">
                        Configuración de Parámetros
                    </a>
                </button>
                <button
                    class="p-2 border rounded-full flex items-center justify-center text-white bg-primary-500 hover:bg-white hover:text-primary-500 hover:border-primary-500 transition-colors duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
                >
                    <a [routerLink]="'/' + routes.REPORTE_MANTENIMIENTOS">
                        Programaa de Mantenimientos
                    </a>
                </button>
                <button
                    class="p-2 border rounded-full flex items-center justify-center text-white bg-primary-500 hover:bg-white hover:text-primary-500 hover:border-primary-500 transition-colors duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
                >
                    <a [routerLink]="'/' + routes.REPORTE_MANTENIMIENTOS">
                        Historial de Cambios
                    </a>
                </button>
            </div>
        </section>
    </main>
</app-layout>
