<article class="flex flex-col gap-3">
    <div class="flex justify-between gap-2">
        <div class="flex flex-col gap-1">
            <label for="">Descripción</label>
            <textarea
                pInputText
                [(ngModel)]="newMantenimiento.descripcion"
                type="text"
                placeholder="Descripción del mantenimiento"
                class="p-2 border border-gray-300 rounded-lg h-full"
            ></textarea>
        </div>
        <div class="flex flex-col gap-1">
            <!-- Seleccionar servidor o base de datos -->
            <div class="flex flex-col gap-1">
                <label for="">Tipo de Mantenimiento</label>
                <p-dropdown
                    appendTo="body"
                    [options]="opciones"
                    [(ngModel)]="opcionSeleccionada"
                    styleClass="w-full border border-gray-300 rounded-lg"
                    placeholder="Seleccionar Tipo de Mantenimiento"
                    optionLabel="label"
                ></p-dropdown>
            </div>
            @if (opcionSeleccionada?.value === 'servidor') {
            <div class="flex flex-col gap-1">
                <label for="">Servidor</label>
                <p-dropdown
                    appendTo="body"
                    [options]="servidores"
                    [(ngModel)]="newMantenimiento.idServidor"
                    styleClass="w-full border border-gray-300 rounded-lg"
                    placeholder="Seleccionar Servidor"
                    optionLabel="descripcion"
                    optionValue="id"
                ></p-dropdown>
            </div>
            }@else {
            <div class="flex flex-col gap-1">
                <label for="">Base de Datos</label>
                <p-dropdown
                    appendTo="body"
                    [options]="basesDeDatos"
                    [(ngModel)]="newMantenimiento.idBaseDeDatos"
                    styleClass="w-full border border-gray-300 rounded-lg"
                    placeholder="Seleccionar Base de Datos"
                    optionLabel="nombre"
                    optionValue="id"
                ></p-dropdown>
            </div>
            }
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <label for="">Plan en Caso de Fallas</label>
        <textarea
            pInputText
            [(ngModel)]="newMantenimiento.planB"
            type="text"
            placeholder="Plan en caso de fallas"
            class="p-2 border border-gray-300 rounded-lg h-full"
        ></textarea>
    </div>

    <div class="flex gap-1 justify-between w-full">
        <div class="flex flex-col gap-1 w-2/3">
            <label for="">Razon</label>
            <p-dropdown
                appendTo="body"
                [options]="razones"
                [(ngModel)]="newMantenimiento.idRazon"
                styleClass="w-full border border-gray-300 rounded-lg"
                placeholder="Seleccionar Razón"
                optionLabel="descripcion"
                optionValue="id"
            ></p-dropdown>
        </div>
        <div class="flex flex-col justify-end items-end gap-1 w-1/3">
            <label for="">¿Automatico?</label>
            <p-inputSwitch [(ngModel)]="newMantenimiento.automatica">
            </p-inputSwitch>
        </div>
    </div>

    <div class="flex gap-1 justify-between w-full">
        <div class="flex flex-col gap-1 w-2/3">
            <label for="">Responsable</label>
            <p-dropdown
                appendTo="body"
                [options]="usuarios"
                [(ngModel)]="newMantenimiento.idUsuarioResponsable"
                styleClass="w-full border border-gray-300 rounded-lg"
                placeholder="Seleccionar Responsable"
                optionLabel="nombreCompleto"
                optionValue="id"
            ></p-dropdown>
        </div>
        <div class="flex flex-col justify-end items-end gap-1 w-1/3">
            <label for="">¿Requiere perfil?</label>
            <p-inputSwitch
                [(ngModel)]="newMantenimiento.requierePerfil"
            ></p-inputSwitch>
        </div>
    </div>

    @if (data?.id) {
    <div class="flex flex-col gap-1">
        <label for="">Estado</label>
        <p-dropdown
            appendTo="body"
            [options]="estados"
            [(ngModel)]="newMantenimiento.idEstado"
            styleClass="w-full border border-gray-300 rounded-lg"
            placeholder="Seleccionar Estado"
            optionLabel="descripcion"
            optionValue="id"
        ></p-dropdown>
    </div>
    }

    <div class="flex flex-col gap-1">
        <label for="">Fecha y Hora de Inicio</label>
        <p-calendar
            appendTo="body"
            [(ngModel)]="newMantenimiento.fechaInicio"
            styleClass="w-full border border-gray-300 rounded-lg p-2"
            placeholder="Seleccionar Fecha de Inicio"
            [showTime]="true"
            hourFormat="12"
        ></p-calendar>
    </div>
    <div class="flex flex-col gap-1">
        <label for="">Fecha y Hora de Finalización</label>
        <p-calendar
            appendTo="body"
            [(ngModel)]="newMantenimiento.fechaFin"
            styleClass="w-full border border-gray-300 rounded-lg p-2"
            placeholder="Seleccionar Fecha de Finalización"
            [showTime]="true"
            hourFormat="12"
            [minDate]="newMantenimiento.fechaInicio"
        ></p-calendar>
    </div>

    <!-- Botones de Agregar -->
    <div class="flex justify-between gap-2">
        <span class="">
            @if (newMantenimiento.requierePerfil) {
            <button
                (click)="openModalEditPerfil()"
                pButton
                label="Perfil"
                class="bg-cyan-500 p-2 text-white rounded-lg"
            ></button>

            }
        </span>
        <span class="flex gap-2">
            <button
                (click)="close()"
                pButton
                label="Cancelar"
                class="bg-gray-300 p-2 text-black rounded-lg"
            ></button>

            @if (data.id) {
            <button
                (click)="createOrUpdateMantenimiento()"
                pButton
                label="Actualizar"
                class="bg-primary-500 p-2 text-white rounded-lg"
            ></button>
            } @else {
            <button
                (click)="createOrUpdateMantenimiento()"
                pButton
                label="Agregar"
                class="bg-primary-500 p-2 text-white rounded-lg"
            ></button>
            }
        </span>
    </div>
</article>
